@using Microsoft.AspNetCore.Http
@using ASC.Utilities
@model ASC.Web.Models.NavigationMenu
@inject IHttpContextAccessor UserHttpContext

@{
    var currentUser = UserHttpContext.HttpContext.User.GetCurrentUserDetails();
}

@foreach (var menuItem in Model.MenuItems.OrderBy(p => p.Sequence))
{
    if (currentUser.Roles.Intersect(menuItem.UserRoles).Any())
    {
        if (menuItem.IsNested)
        {
            <li class="menu-parent">
                <a href="javascript:void(0);"
                   class="menu-toggle"
                   id="@($"ancr{menuItem.DisplayName.Replace(" ", "")}")">
                    <i class="material-icons">@menuItem.MaterialIcon</i>
                    @menuItem.DisplayName
                </a>

                <ul class="submenu" style="display:none; padding-left:20px;">
                    @foreach (var subMenuItem in menuItem.NestedItems.OrderBy(p => p.Sequence))
                    {
                        if (currentUser.Roles.Intersect(subMenuItem.UserRoles).Any())
                        {
                            <li>
                                <a href="@subMenuItem.Link"
                                   id="@($"ancr{subMenuItem.DisplayName.Replace(" ", "")}")">
                                    <i class="material-icons">@subMenuItem.MaterialIcon</i>
                                    @subMenuItem.DisplayName
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="@menuItem.Link"
                   id="@($"ancr{menuItem.DisplayName.Replace(" ", "")}")">
                    <i class="material-icons">@menuItem.MaterialIcon</i>
                    @menuItem.DisplayName
                </a>
            </li>
        }
    }
}